@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-height: 800px) {
  /* Compact layout for short heights */
  h1 {
    @apply text-3xl lg:text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  .space-y-4 {
    @apply space-y-2;
  }

  .space-y-5 {
    @apply space-y-3;
  }

  .p-6 {
    @apply p-4;
  }

  .p-9 {
    @apply p-6;
  }

  .mb-8 {
    @apply mb-4;
  }

  .mb-6 {
    @apply mb-3;
  }

  .mb-5 {
    @apply mb-2;
  }
}
